html {
    background: rgb(240, 240, 240);
}

body {
    width: 800px !important;
    background : radial-gradient(#cacbc3 1px, transparent 1px) 0 0 / 10px 10px;
    margin: 0 auto;
    padding: 20px;
    height: 600px !important;
}

.container {
    border-radius: 10px;
    width: 400px;
    background-color: rgba(75, 160, 211, 0.15);
    backdrop-filter: blur(1px);

}
